<!DOCTYPE html>
<html>
<head>
  <title><%= data.title %></title>
  <!-- Include Tailwind CSS -->
  <link type = "text/css" rel = 'stylesheet' href = '/assets/styles.css'/>
  <!-- Include Custom CSS -->
  <link type = "text/css" href="/assets/custom.css" rel="stylesheet">
  
</head>

<body class="custom-bg">
  <!-- Header & Navbar -->
  <%- include('partials/header') %>
  
  <div class ="text-4xl- font-bold"><%- include('partials/user-card') %></div>

  <%- include('partials/footer') %>    
</body>
</html>